@font-face {
font-family: "Avalon";
src: url('../fonts/Avalon Regular.ttf')  format('truetype');
}

@font-face {
font-family: "Avalon Bold";
src: url('../fonts/avalon-bold.ttf')  format('truetype');
}

@font-face {
    font-family: "ARS maquette bold";
    src: url('../fonts/ars-maquette.ttf')  format('truetype');
    }

@font-face {
    font-family: "Shentox";
    src: url('../fonts/shentox-medium.ttf')  format('truetype');
    }


header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
nav {
    height: 48px;
    justify-content: space-between;
    background-color: white;
}

a{
  text-decoration: none;
}

.logo-container {
    background: url(../images/logo.svg) center no-repeat, linear-gradient(red, yellow);
    width: 106px;
    height: 100%;
}

.nav-buttons,
.nav-buttons div {
    height: 100%;
}

.search-container {
    width: 48px;
    color: rgb(136, 135, 135);
    border-left: 1px solid #eee;
    justify-content: center;
    align-items: center;
}

.menu-container {
    width: 48px;
    color: #f42;
    border-left: 1px solid #eee;
    justify-content: center;
    align-items: center;
}

.nav-banner{
    height: 60px;
    background-color: #fd3;
    align-items: center;
    box-shadow: 0 16px 48px rgba(0,0,0,.15);
}

.nav-banner span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 100;
}


.top-articles-container{
  width: auto;
  margin-top: 116px;
}

/* .top-articles-container a:hover{
 color: white;
} */

.top-article {
  height: 30vh;
  color: white;
}

.a1{ background: url(../images/top-bitcoin.jpg) center no-repeat;}

.a2{ background: url(../images/morality.png) center no-repeat;}

.a3{ background: url(../images/Sprint_image.png) center no-repeat;}

.top-article .header,
.recommended-article .header{
  padding: 14px 12px;
  font-size: 20px;
  align-self: flex-end;
  font-family: 'Avalon Bold' ,sans-serif;
  font-weight: 700;
}

/*

*/

.ta-image-container{
  margin: 8px;
}

.shadow {
 background: linear-gradient( rgba(0,0,0,.25),  rgba(0,0,0,.70));
}

.top-article .info,
.recommended-article .info{
  color: hsla(0,0%,100%,.6);
  font-size: 12px;
  margin: 5px 0px;
  font-family: 'ARS Maquette', sans-serif;
}

.top-article .material-icons{
 font-size: 14px;
 vertical-align: bottom;
}

.top-article .authors-name,
.recommended-article .authors-name{
  color: hsla(0,0%,100%,.6);
}

.top-article a,
.recommended-article a{
  color: white;
}

.top-article li,
.recommended-article li{
  display: inline-block;
}


  /* latest-news section*/

h3  a{
  font-size: 28px;
  color: #f42;
  font-family: "Avalon bold", sans-serif;
}

.latest-news,
.deals,
.latest-funding,
.recommended-articles-container
{
  /* font-family: 'Avalon Bold' ,sans-serif; */
  margin: 20px;
}

.latest-news h3 {
    margin: 24px 0;
}

.news-img-container {
  min-width: 75px;
  height: 75px;
}

.new-img1{
  background: #000 url(../images/news-twitter.jpg) 50% no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.new-img2{
    background: #000 url(../images/news-train.png) 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.new-img3{
    background: #000 url(../images/news-tablet.png) 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.new-img4{
    background: #000 url(../images/news-moon.png) 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.new-img5{
    background: #000 url(../images/news-elon.jpg) 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.new-img6{
    background: #000 url(../images/news-car.jpg) 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.new-img7{
    background: #000 url(../images/news-captcha.png) 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.new-img8{
    background: #000 url(../images/top-bitcoin.jpg) 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.story
.deal {
    margin-bottom: 5px;
}

.story-content,
.deal-content,
.recommended-story-content  {
    margin: 0 15px;
}

.story-content a,
.deal-content a{
    font-family: 'ARS Maquette bold', sans-serif;
    font-size: 14px;
    color: black;
}

.story-content li,
.deal-content li {
    display: inline-block;
    font-family: 'ARS Maquette', sans-serif;
    font-size: 12px;
    color: #aaa;
    padding-top: 8px;
}

.story-author::after {
    content: "\B7";
    display: block;
    float: right;
    margin-left: 4px;
}




.latest-funding-links a{
    color: #f42;
    font-family: 'ARS Maquette', sans-serif;
    font-size: 14px;
}

.latest-funding-links {
    padding: 14px 0;
}

.latest-funding-links div {
    margin-top: 11px;
}


/* Founding section */


.founding-item {
  font-family: 'ARS maquette bold', sans-serif;
  font-size: 18px;
  background-color: #fffaf8;
}

.founding-item .title {
  padding: 10px 16px 10px 84px;
  background: #f42;
  color: white;
}

.founding-item h5{
  font-family: 'Shentox', sans-serif;
  font-size: 11px;
  opacity: .5;
  text-transform: uppercase;
  margin-top: 5px;
}

.founding-item .content {
  padding: 10px 16px 10px 84px;
  background: rgba(255,68,34,.08);
  font-weight: 700;
  color: black;
}

.founding-item img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 10.6666666667px;
  width: 60px;
  height: 60px;

}

.founding-item a{
  position: relative;
  display: block;

}

.founding-item .info{
  padding: 16px;
  border-bottom: 1px solid rgba(255,68,34,.25);
  margin: 8px 0;
}

.founding-footer{
  font-family: 'ARS Maquette', sans-serif;
  color: #555;
  font-size: 12px;
}

.founding-footer .source{
  padding: 16px;
}

.founding-footer li{
  margin-bottom: 7px;
}

.founding-footer .material-icons{
  font-size: 15px;
}

.founding-footer .icon{
  margin-right: 13px;
}

.founding-footer .icon{
  margin-right: 13px;
}

.founding-footer .source-site{
  color: #aaa;
}

/* Recommended section */



.recommended h3 {
  margin: 14px 0;
}

.recommended-articles-container .ta-image-container{
  margin: 0;
}

.recommended-article{
  height: 60vh;
  color: white;
}

.recommended-story-content {
  margin: 5px 0;
  color: #f42;
}

.recommended-story-content a {
  font-family: 'ARS Maquette bold', sans-serif;
  font-size: 14px;
  color: #f42;
}

.recommended-story-content span{
  font-family: 'Shentox', sans-serif;
  font-size: 13px;
}

.recommended-story-text {
  padding: 10px 14px 0 14px;
  background-color: rgba(255,68,34,.06);
}

.recommended-list a {
  display: block;
  position: relative;
  color: #555;
  padding: 6px 0 6px 14px;
}

.recommended-list a::before{
  background-color: #f42;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 4px;
}

.recommended-list li {
  font-family: 'ARS maquette', sans-serif ;
  border-bottom: 1px solid #eee;
  font-size: 13px;
}

.most-popular{
  font-family: 'Shentox', sans-serif;
  font-size: 13px;
  font-weight: 400;
}


.r1 {background: url(../images/news-twitter.jpg) center no-repeat;}

.r2 {background: url(../images/honor.png) center no-repeat;}

.r3 {background: url(../images/coronavirus-model.jpg) center no-repeat;}

.r4 {background: url(../images/xp-css.png) center no-repeat;}

.r5 {background: url(../images/cookie.png) center no-repeat;}

.r6 {background: url(../images/diverse-team.png) center no-repeat;}

.r7 {background: url(../images/facebook.jpg) center no-repeat;}

.r8 {background: url(../images/hbo.jpg) center no-repeat;}


.rec-img-container{
  min-width: 96px;
  height: 96px;
}

.rec-img-container a {
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.rec-img1{background: #000 url(../images/Jitsi-feat.jpg) 50% no-repeat;}

.rec-img2{background: #000 url(../images/headphones.png) 50% no-repeat;}

.rec-img3{background: #000 url(../images/coca-cola.png) 50% no-repeat;}

.rec-img4{background: #000 url(../images/ai-wrote.png) 50% no-repeat;}

.rec-img5{background: #000 url(../images/greta.png) 50% no-repeat;}

.rec-img6{background: #000 url(../images/sharper-axe.png) 50% no-repeat;}

.rec-img7{background: #000 url(../images/mart.jpg) 50% no-repeat;}

.rec-img8{background: #000 url(../images/command.jpg) 50% no-repeat;}





/* Deals */

.deal {
  margin: 8px 0;
}

.deals-tittle{
  margin-bottom: 20px;
}

.deals-link{
  color: #f42;
  font-family: 'ARS Maquette', sans-serif;
  font-size: 14px;
  margin-top: 11px;
}

.price{
  font-family: 'ARS Maquette', sans-serif;
  margin-top: 4px;
}

.old-price{
  color: #aaa;
  font-size: 12px;
  margin-right: 4px;
  text-decoration:  line-through;
}

.new-price{
  color: #555;
  font-size: 14px;
}

.deal-img1 { background: #000 url(../images/deals-1.jpg) 50% no-repeat; }
.deal-img2 { background: #000 url(../images/deals-2.jpg) 50% no-repeat; }
.deal-img3 { background: #000 url(../images/deals-3.jpg) 50% no-repeat; }
.deal-img4 { background: #000 url(../images/deals-4.jpg) 50% no-repeat; }
.deal-img5 { background: #000 url(../images/deals-5.jpg) 50% no-repeat; }
.deal-img6 { background: #000 url(../images/deals-6.jpg) 50% no-repeat; }
.deal-img7 { background: #000 url(../images/deals-7.jpg) 50% no-repeat; }
.deal-img8 { background: #000 url(../images/deals-8.jpg) 50% no-repeat; }


.deals-img-container {
  min-width: 75px;
  height: 75px;
}

.deals-img-container a{
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}



/* Helper classes */
.flex { display: flex; }
.flex-between { justify-content: space-between; }
.flex-align-end{ align-content: flex-end;}
